<div class="dropdown">
    <div class="input-group" [class.open]="showList">
        <input type="text" autocomplete="off" #searchBox
                class="form-control" [(ngModel)]="searchTerm"
                (keyup)="navigateList($event);" 
                (keydown)="handleKeyDown($event);" 
                [class.invalid-input]="invalid" />
        <ul *ngIf="searchTerm && searchTerm.length" class="dropdown-menu list" #list>
            <li *ngFor="let listItem of _list" #listItemEls
                        [class.active]="isActive(listItem)"
                        (mousemove)="tempCurrent = listItem">
                <a href="javascript:void(0);" (click)="setValue(listItem)">{{this.displayFieldName ? listItem[this.displayFieldName] : listItem}}</a>
            </li>
        </ul>
        <span class="input-group-addon btn-show-list" (click)="clearInput()">Clear</span>
    </div>
</div>